.inst{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inst .boxes{
    background-color:#F5F5F7;
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.inst .boxes .box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
}
.inst .boxes .box .ele{
    color: white;
    background-color: #0272FF;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
}
.inst .boxes .box .ele:hover{
    cursor: pointer;
    transform: rotate(360deg) scale(1.1);     
}
.inst .boxes .box .icon {
    width: 80%;
    height: 80%;
}
.inst .boxes .box p{
    width: 85%;
    height: 40%;
    text-align: center;
}


@media screen and (max-width:700px){
    .inst{
        width: 100vw;
        height: 95vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inst .boxes{
        background-color:#F5F5F7;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    .inst .boxes .box:first-child{
        margin-bottom: -40px;
    }
    .inst .boxes .box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.2rem;
    }
    .inst .boxes .box .ele{
        color: white;
        background-color: #0272FF;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s ease;
    }
    .inst .boxes .box .ele:hover{
        cursor: pointer;
        transform: rotate(360deg) scale(1.1);     
    }
    .inst .boxes .box .ele .icon {
        width: 80%;
        height: 80%;
    }
    .inst .boxes .box p{
        width: 85%;
        height: 55%;
        text-align: center;
        font-size:0.9rem;
    }
}