.navbar{
    width: 100%;
    height: 4rem;
    background-color: #F5F5F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px 3px 5px 0px rgba(237,237,237,1);
}

.navbar img{
   width: 180px;
   height: 80px;
   margin-left: 10px;
}
.navbar .leftyyy{
    margin-right: 45px;
    width: 32%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .leftyyy button{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: 525;
    transition: 0.2s ease-in;
}
.navbar .leftyyy button:hover{
    transform: scale(1.16);
    color: #0272FF;
    cursor: pointer;
    font-weight: 540;
}
.navbar .icon{
    color: black;
    // display: none;
  }



  @media screen and (max-width:700px){
    .navbar{
        width: 100%;
        height: 4rem;
        background-color: #F5F5F7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: -1px 3px 5px 0px rgba(237,237,237,1);
    }
    
    .navbar img{
       width: 170px;
       height: 80px;
       margin-left: 10px;
    }
    .navbar .leftyyy{
        position: absolute;
        top: 4rem;
        left: 0%;
        width: 100%;
        height: 13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0rem;
        margin-left: 0rem;
        background-color: #F5F5F7;
    }
    .navbar .leftyyy button{
        text-align: left;
        margin-left: 1rem;
        font-size: 0.9rem;
        text-transform: capitalize;
        font-family: 'Inter' , sans-serif;
        font-weight: 450;
        width: 90%;
        height: 45px;
        display: flex;
        background-color: transparent;
        border: none;
        font-size: 1.1rem;
        font-weight: 525;
        transition: 0.2s ease-in;
        opacity: 0.8;
        color: black;
    }
    .navbar .icon{
        color: black;
        width: 30px;
        height: 30px;
        margin-right: 20px;
        // display: none;
      }
    
}